<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
  </configSections>
  <appSettings>
    <add key="RANGES_FILES" value="C:\Users\sergio\Source\Repos\PokerRange\Poker\Ranges\Configuration"/>
  </appSettings>
  <specFlow>
    <unitTestProvider name="NUnit" />
  </specFlow>
</configuration>